**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.dockerignore
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/docker-compose*.yml
**/.env
**/.env.*
!.env.example
**/README.md
**/DEPLOYMENT.md
**/.github
**/*.md
!README.md
**/kitui.html

