# SQL Server Configuration
SQLSERVER_SA_PASSWORD=

# OpenAI API Configuration
OPENAI_API_KEY=

# Grafana password
GRAFANA_ADMIN_PASSWORD=

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=

# JWT Configuration
JWT_SECRET_KEY=