server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  # Nginx access logs
  - job_name: nginx-access
    static_configs:
      - targets: [localhost]
        labels:
          job: nginx
          service: nginx
          __path__: /var/log/nginx/access.log

  # Nginx error logs
  - job_name: nginx-error
    static_configs:
      - targets: [localhost]
        labels:
          job: nginx
          service: nginx
          level: error
          __path__: /var/log/nginx/error.log

  # Docker containers
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s

    relabel_configs:
      # container name
      - source_labels: ['__meta_docker_container_name']
        target_label: container
        regex: '/(.*)'
        replacement: '$1'

      # docker-compose service
      - source_labels: ['__meta_docker_compose_service']
        target_label: service

      # stdout / stderr
      - source_labels: ['__meta_docker_container_log_stream']
        target_label: stream
